<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <application
        android:name=".LionheartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lion"
        android:roundIcon="@mipmap/ic_lion"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lionheart"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="35">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/Theme.Lionheart">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity-alias android:name=".AliasLionGold" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_lion_gold" android:roundIcon="@mipmap/ic_lion_gold_round" android:label="Lionheart" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasLionRed" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_lion_red" android:roundIcon="@mipmap/ic_lion_red_round" android:label="Lionheart" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasLionBlue" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_lion_blue" android:roundIcon="@mipmap/ic_lion_blue_round" android:label="Lionheart" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasLionGreen" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_lion_green" android:roundIcon="@mipmap/ic_lion_green_round" android:label="Lionheart" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasLionWhite" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_lion_white" android:roundIcon="@mipmap/ic_lion_white_round" android:label="Lionheart" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasCalculator" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_disguise_calculator" android:roundIcon="@mipmap/ic_disguise_calculator_round" android:label="Calculator" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasClock" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_disguise_clock" android:roundIcon="@mipmap/ic_disguise_clock_round" android:label="Clock" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasMusic" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_disguise_music" android:roundIcon="@mipmap/ic_disguise_music_round" android:label="Music" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasNotes" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_disguise_notes" android:roundIcon="@mipmap/ic_disguise_notes_round" android:label="Notes" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AliasWeather" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true"
            android:icon="@mipmap/ic_disguise_weather" android:roundIcon="@mipmap/ic_disguise_weather_round" android:label="Weather" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <service android:name=".service.LionheartVpnService" android:exported="false" android:foregroundServiceType="specialUse" android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter><action android:name="android.net.VpnService" /></intent-filter>
            <meta-data android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON" android:value="true" />
        </service>
        <service android:name=".service.LionheartTileService" android:exported="true" android:icon="@drawable/ic_vpn_key" android:label="@string/app_name" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
        </service>
        <receiver android:name=".receiver.BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>